.titulo{
    font-family: 'Open Sans', sans-serif;
}
.titulo2{
    font-family: 'Roboto', sans-serif;
}



.text-decoration{
    text-decoration:underline;
}
.link1{
    text-decoration: none;
    color: black;
    text-align: center;
}

    .link{
        text-decoration:none;
        color: white;
    }

    .text{
        text-align: center;
        color:#FFFFFF;
        position: absolute;;
        top: 900px;
    }